<html>
    <head>
        <title>The Worldly Man</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="black-bar"></div>
        {{{body}}}
    </body>
</html>