<br>
<div id="washington-painting">
    <img id="washington" src="/united-states/washington-delaware.jpg">
    <caption><i>Washington Crossing the Delaware</i></caption>
</div>
<br>
<h1 id="united-states-title">The United States of America</h1>
<br>
<div id="joe-biden">
    <img id="joe-biden-portrait" src="/united-states/joe-biden.jpg">
    <caption><i>Current President - Joe Biden</i></caption>
</div>
<br><br><br>
<!-- using bootstrap container -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <img id="washington-dc" src="/united-states/washington-dc.jpg">
        </div>
        <div class="col text-center">
            <h2>Capital: Washington D.C.</h2>
            <p>Washington, D.C., formally the District of Columbia, also known as just Washington or simply D.C., 
                is the capital city and federal district of the United States.[9] It is located on the east bank of the Potomac River, 
                which forms its southwestern and southern border with the U.S. state of Virginia, and it shares a land border with the 
                U.S. state of Maryland on its remaining sides. The city was named for George Washington, a Founding Father and the first
                president of the United States,[10] and the federal district is named after Columbia, a female personification of the 
                nation. As the seat of the U.S. federal government and several international organizations, the city is an important 
                world political capital.[11] It is one of the most visited cities in the U.S., seeing over 20 million visitors in 2016
                </p>
        </div>
    </div>
</div>
<br>