<h1 class="text-center">{{countryName}}</h1><br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Capital:</h3><br>
      {{countryCapital}}
    </div>
    <div class="col-sm">
      <h3>Leader:</h3><br>
      {{countryLeader}}
    </div>
    <div class="col-sm">
      <h3>Official Language:</h3><br>
      {{countryLanguage}}
    </div>
  </div>
</div>